@font-face {
    font-family: "Lausanne";
    src: url("../../shared/Lausanne-Regular.otf")
}
@font-face {
    font-family: "Neue Machina Bold";
    src: url("../../shared/NeueMachina-Bold.otf")
}
@font-face {
    font-family: "Neue Machina Light";
    src: url("../../shared/NeueMachina-Light.otf")
}
@font-face {
    font-family: "Neue Machina";
    src: url("../../shared/NeueMachina-Regular.otf")
}